.DS_Store
BSIC/Week 5/SolidarityCard-Videopitch-1440p.mp4
BSIC/Week 5/Screen Recording 2020-04-09 at 05.38.18.mov
BSIC/Week 5/SolidarityCard-Video.mov
BSIC/Week 5/SolidarityCard-Video.mp4
BSIC/Week 5/SolidarityCard-Video-480p.mov
